<hr />
<h4><%= User.find(comment.user_id).username %></h4>
<p><%= comment.body %></p>
<% if user_signed_in? and comment.user_id == current_user.id %>
  <%= link_to "Edit", edit_movie_comment_path(comment.movie_id, comment.id) %>
  <%= link_to "Delete", movie_comment_path(comment.movie_id, comment.id), method: :delete %>
<%end%>
