<h1>My Playlists</h1>
<%= link_to "Create New Playlist", new_user_playlist_path(:user_id) %>
  <ul>
  <% @playlists.each do |playlist| %>
    <li>
      <%= link_to playlist.name, edit_user_playlist_path(@user, playlist) %>
    </li>
    <% end %>
  </ul>
